@{
    ViewData["Title"] = "Flash";
}


<h2>@ViewData["Title"]</h2>


 
<img src="~/images/profile_thumb.jpg">
<img src="~/images/flash1.jpg">
<img src="~/images/flash2.jpeg">
<img src="~/images/flash3.png">
<img src="~/images/flash4.jpg">
<img src="~/images/flashsuit1.jpg">
<img src="~/images/flashsuit2.jpg">